
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared css */

.container{
    max-width: 1600px;
    margin: 0 auto;
}

header > hr{
    border: .5px solid rgba(255, 255, 255, 0.267);
}
.secondary-container{
    max-width: 1200px;
    margin: 0 auto;
}

.primary-bg-color{
    background-color: #1A0B2E;
}

.linear-bg-color{
    background: linear-gradient(90deg,#F7E93F,#FB09B4,#9100F8);
}

.display-flex{
    display: flex;
}


.btn-primary{
    padding: 12.5px 16px;

    border-radius: 10000px;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    cursor: pointer;

}













/* navbar style starts here */
.navbar{
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}

.nav-links{
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.text-logo{
    font-size: 2rem;
    font-weight: bolder;
}
.text-logo span {
  background: linear-gradient(to right, #ff4db8, #7a00ff);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links li{

    list-style: none; 
    
 
}
.nav-links .nav-items{
    text-decoration: none;
    color: white;
   
}
.navbar i{
    font-size: 13px;
}
.hamburger{
    display: none;
    cursor: pointer;
}


/* navbar styling finish */

/* banner section starts here */

.banner{
    background-image: url('../Images/hero-bg.png');
    min-height: 760px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    
}


.banner-content{
   
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.banner-content .banner-title{
    font-size: 3.75rem;
    font-weight: 800;
    color: rgb(253, 253, 253);
}
.rounded-mic-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
    height: 400px; 
  
}

.rounded-mic-parent .rounded-circle{
    max-width: 100%;
    
    position: absolute;
    z-index: 1;
   

}
.rounded-mic-parent .mic{
max-width: 200px;

position: absolute;
z-index: 2;

}


.rounded-mic-parent span{
    background-color: #00FF88;
    display: inline-block;
    color: #1A0B2E;
    border-radius: 1000px;
    padding: 8px 16px;
    border: none;
    font-size: 1.175rem;
    font-weight: 600;
    position: absolute;
    z-index: 3;
    top: 10%; 
    right: 23%;


}

.btn-container{
   display: flex;
   max-width: 360px;
   margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
}

.btn-spotify{
  display: flex;
     padding: 12.5px 20px;
    border-radius: 10000px;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    cursor: pointer;
    gap: 10px;
    align-items: center;
    
}



.btn-subscribe{
 padding: 12.5px 20px;
    border-radius: 50px;
    background: transparent;
    border: 1px solid #00FF88; 
    color: #00FF88; 
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    
    
}

/* about section starts here */

#about{
    background-color: #1A0B2E;
    padding-top: 20px;
    padding-bottom: 120px;
}
#about>hr{
    max-width: 1200px;
    margin: 0 auto;
    border: .5px solid rgba(255, 255, 255, 0.267);

}
.about-content{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: white;
    margin-bottom: 80px;
}

.about-title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;

}
.about-text-1{
    font-size: 1rem;
    line-height: 25px;
    color: white;
    
}

.user-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 80px;
    
}

.user-title{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 16px;
}

.user-text{
    color: white;

}







@media  screen and (max-width:576px) {

 .nav-links{
    display: none;

 }
 .hamburger {
    display: inline-block;
    color: white;
    background:transparent;
    border: none;
    margin-right: 30px;
    
}

.btn-primary{
    display: none;
}
.banner {
        
        min-height: 500px; 
        
        
        background-size: cover; 
        background-position: center center;
        
        
        padding: 40px 0;
        
       
        display: flex;
        flex-direction: column;
    }

.rounded-mic-parent { 
    }

    .rounded-mic-parent .rounded-circle {
        max-width: 283px; 
    }

    .rounded-mic-parent .mic {
        max-width: 120px; 
    }

    .rounded-mic-parent span {
      font-size: 0.8rem;
        padding: 7px 15px;
        top: 21%;
        right: 26%;
    }






    .banner-content .banner-title {
        font-size: 2.2rem;
    }

    .banner-text {
        font-size: 0.9rem;
        padding: 0 15px;
    }

   
    .btn-container {
        
        width: 100%;
        max-width: 100%;
        gap: 15px;
    }

    .btn-spotify, .btn-subscribe {
        width: 90%; 
        justify-content: center;
        font-size: 0.9rem;
    }

    .about-content{
        width: 100%;
    }
    #about>hr{
        
        margin-left: 20px;
        margin-right: 20px;
    }

    .user-container{
        grid-template-columns: repeat(2,1fr);
        
    }
    .user{
        margin: 20px auto;
    }

    }

    



    


















