
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared css */

.container{
    max-width: 1600px;
    margin: 0 auto;
}

header > hr{
    border: .5px solid rgba(255, 255, 255, 0.11);
}
.secondary-container{
    max-width: 1200px;
    margin: 0 auto;
}

.primary-bg-color{
    background-color: #1A0B2E;
}

.linear-bg-color{
    background: linear-gradient(90deg,#F7E93F,#FB09B4,#9100F8);
}

.display-flex{
    display: flex;
}


.btn-primary{
    padding: 12.5px 16px;

    border-radius: 10000px;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    cursor: pointer;

}


.text-opacity{
    opacity: 0.6;
}












/* navbar style starts here */
.navbar{
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}

.nav-links{
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.text-logo{
    font-size: 2rem;
    font-weight: bolder;
}
.text-logo span {
  background: linear-gradient(to right, #ff4db8, #7a00ff);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links li{

    list-style: none; 
    
 
}
.nav-links .nav-items{
    text-decoration: none;
    color: white;
    opacity: 0.6;
   
}
.navbar i{
    font-size: 13px;
}
.hamburger{
    display: none;
    cursor: pointer;
}


/* navbar styling finish */

/* banner section starts here */

.banner{
    background-image: url('../Images/hero-bg.png');
    min-height: 760px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    
}


.banner-content{
   
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.banner-content .banner-title{
    font-size: 3.75rem;
    font-weight: 800;
    color: rgb(253, 253, 253);
}
.rounded-mic-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
    height: 400px; 
  
}

.rounded-mic-parent .rounded-circle{
    max-width: 100%;
    
    position: absolute;
    z-index: 1;
   

}
.rounded-mic-parent .mic{
max-width: 200px;

position: absolute;
z-index: 2;

}


.rounded-mic-parent span{
    background-color: #00FF88;
    display: inline-block;
    color: #1A0B2E;
    border-radius: 1000px;
    padding: 8px 16px;
    border: none;
    font-size: 1.175rem;
    font-weight: 600;
    position: absolute;
    z-index: 3;
    top: 10%; 
    right: 23%;


}

.btn-container{
   display: flex;
   max-width: 360px;
   margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
}

.btn-spotify{
  display: flex;
     padding: 12.5px 20px;
    border-radius: 10000px;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    cursor: pointer;
    gap: 10px;
    align-items: center;
    
}



.btn-subscribe{
 padding: 12.5px 20px;
    border-radius: 50px;
    background: transparent;
    border: 1px solid #00FF88; 
    color: #00FF88; 
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    
    
}

/* about section starts here */

#about{
    background-color: #1A0B2E;
    padding-top: 20px;
    padding-bottom: 120px;
}
#about>hr{
    max-width: 1200px;
    margin: 0 auto;
    border: .5px solid rgba(255, 255, 255, 0.11);

}
.about-content{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: white;
    margin-bottom: 80px;
}

.about-title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;

}
.about-text-1{
    font-size: 1rem;
    line-height: 25px;
    color: white;
    
}

.user-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 80px;
     place-items: center;
    
}

.user-title{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 16px;
}

.user-text{
    color: white;
    opacity: .6;

}

/* choose section starts here */

.choose{
    background-color: #230E3D;
    color: white;
    padding-top: 120px;
    padding-bottom: 120px;
}
.choose-title{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
    
}
.choose-card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    gap: 30px;
}

.choose-card{
    border-radius: 40px;
    background-color:rgba(53, 17, 101, 0.4);
    padding: 64px 38px;
    
}
.choose-card img{
    margin-bottom:16px;
    
}
.choose-card-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.choose-text{
    line-height: 24px;
}

.choose-card-container div:nth-child(1){

 grid-row:span 2;

}
.choose-card-container div:nth-child(2){
 grid-column:span 2;
 

}
.choose-card-container div:nth-child(3){
 grid-column: span 2;
 

}
.choose-card-container div:nth-child(4){
 grid-column: span 2;
 
 

}

/* featured section starts here */

.episodes{
    background-color: #1A0B2E;

    color: white;

    padding: 120px 0;


}

.episodes-title{
   text-align: center;
   margin-bottom: 40px;
   font-size: 3rem;
   font-weight: 700;
}


.episodes-card-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap; 
}


.episode-card {
    background-color: #250D44;
    border-radius: 24px;
    overflow: hidden; 
    width: 100%;
    max-width: 380px; 
    display: flex;
    flex-direction: column;
}


.episode-card-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}



.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.episode-card-title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.3;
}

.episode-text {
    font-size: 1rem;
    line-height: 24px;
}

.episode-footer {
    margin-top: auto;
    color: #00FF88; 
    font-weight: 600;
    display: flex;
    align-items: center;
    
    gap: 8px;
}
.episode-footer .icon img{
    width: 16px;
    height: 16px;
    display: block;
}

/* host section starts here */

.host{
     background-color: #1A0B2E;

    color: white;

    padding-bottom: 120px;

    
}


.host-title{

   text-align: center;
   margin-bottom: 40px;
   font-size: 3rem;
   font-weight: 700;

}

.host-content{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 60px;
    display: flex;
    gap: 24px;
    align-items: center;

    padding:  40px;
   
}

.host-content .host-img{
    max-width: 200px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

}
.host-content .host-img img{
    width: 100%;
}

.host-info{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 16px;
}
.host-name{
    font-size:2rem ;
    font-weight: bold;
}
.host-text{
  line-height: 24px;
}

.host-links{
   display: flex;
    gap: 8px;
    justify-content: flex-start;
   
  
}

.links-container {
  border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 50%;
    
   
    width: 40px; 
    height: 40px;
    
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.links-container img {
    
    width: 20px;
    height: 20px;
    object-fit: contain;
}
/* footer section starts here */

.footer-section{
    background-image: url('../Images/footer-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    min-height: 412px;

    display: flex;
    align-items: center;
    justify-content: center;
   

    
}

.footer-content{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 32px;
    
    
}
.footer-content .text-logo{
    font-size: 3.5rem;
    font-weight: 900;
    
}
.footer-links{
    display: flex;
   gap: 30px;
    align-items: center;
    align-content: center;
}

.footer-links span > div{
   display: flex;
   align-items: center;
   gap: 10px;
   
}

.responsive-footer{
    display: flex;
    gap: 30px;
}








@media  screen and (max-width:576px) {

 .nav-links{
    display: none;

 }
 .hamburger {
    display: inline-block;
    color: white;
    background:transparent;
    border: none;
    margin-right: 30px;
    
}

.btn-primary{
    display: none;
}
.banner {
        
        min-height: 500px; 
        
        
        background-size: cover; 
        background-position: center center;
        
        
        padding: 40px 0;
        
       
        display: flex;
        flex-direction: column;
    }

.rounded-mic-parent { 
    }

    .rounded-mic-parent .rounded-circle {
        max-width: 283px; 
    }

    .rounded-mic-parent .mic {
        max-width: 120px; 
    }

    .rounded-mic-parent span {
      font-size: 0.8rem;
        padding: 7px 15px;
        top: 21%;
        right: 26%;
    }

    .banner-content .banner-title {
        font-size: 2.2rem;
    }

    .banner-text {
        font-size: 0.9rem;
        padding: 0 15px;
    }

   
    .btn-container {
        
        width: 100%;
        max-width: 100%;
        gap: 15px;
    }

    .btn-spotify, .btn-subscribe {
        width: 90%; 
        justify-content: center;
        font-size: 0.9rem;
    }

    .about-content{
        width: 100%;
    }
    #about>hr{
        
        margin-left: 20px;
        margin-right: 20px;
    }

    .user-container{
        grid-template-columns: repeat(2,1fr);
        
    }
    .user{
        margin: 20px auto;
    }

    .choose-card-container{
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 0 auto;
    }
    .choose-card{
        grid-column: span 1 !important;
        grid-row: span 1 !important;
        padding: 30px 20px;
        margin: 0 20px;
    }
    .host-container{
        padding: 40px 20px;
    }

    .host-content{
        
     flex-direction: column;
     align-items: center;
     padding: 30px 20px;
    
    }
    .host-info {
        align-items: center; 
        text-align: center;
    }
    .footer-content .text-logo{
    font-size: 1.5rem;
  
    
}  



.footer-links  {
  
 flex-direction: column;
   
}

 
    
   
  
    }

    



    


















